body {
	background: fixed url("./icarro.jfif");
	background-size: cover;
        background-position: center center;
}

.c {
	background-color: red;
	color: white;
	border: none;
	outline: none;
	height: 70px;
	width: 70px;
}

.verde {
	background-color: #32CD32;
	color: white;
	border: none;
	outline: none;
	height: 70px;
	width: 70px;
}

.azul {
	background-color: #6495ED;
	color: white;
	border: none;
	outline: none;
	height: 70px;
	width: 70px;
}

.cal {
	background-color: #4F4F4F;
	color: white;
	border: none;
	outline: none;
	height: 70px;
	width: 70px;
}
